.header {
    width: 100%;
    height: 100%;
    background-image: url("../img/forHeader/headerBC.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    object-fit: cover;
    
}

.header__head {
    background: linear-gradient(90deg, rgba(0, 209, 255, 0.3) 0%, rgba(0, 87, 255, 0.3) 100%);
    backdrop-filter: blur(10px);
    height: 60px;
    width: 100%;
}

.head {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.head__nav {
    display: flex;
    gap: 40px;
}

a.nav__a {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */
    color: #ffffff;
    transition: color 0.2s ease;
}

.nav__a:hover {
    color: #000000;

}

.head__cart-login {
    display: flex;
    gap: 20px;
}


.header-slogan {
    height: calc(100vh - 60px);
    display: flex;
    justify-content: center;    
    flex-direction: column;
    gap: 25px;
}

.slogan-main {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 117px;

    color: #FFFFFF;
}

.slogan-second {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    /* identical to box height */
    color: #FFFFFF;
}

.slogan-btn {
    width: 319px;
}